.productList {
  display: flex;
  flex-wrap: wrap;
}
.productList .mainInfo {
  margin: 10px 30px 30px 30px;
}
.productList .mainInfo.emphasis {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.productList .mainInfo p {
  width: 215px;
  padding: 0px 10px 0px 10px;
}
.productList .mainInfo .mainImage {
  padding-top: 10px;
  height: 135px;
}
.productList .mainInfo .mainImage img {
  width: 215;
  height: 215;
}
.productList .mainInfo .shopName {
  margin: 0;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #808080;
  font-size: 12px;
}
.productList .mainInfo .productName {
  margin: 5px 0 0 0;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #808080;
  font-size: 12px;
}
.productList .mainInfo .price {
  margin: 6px 0 0 0;
  font-size: 15px;
  line-height: 1.1;
}
.productList .mainInfo .tax {
  font-size: 10px;
  margin: 0 0 0 2px;
  white-space: nowrap;
  vertical-align: 1px;
  color: #808080;
}
.productList .mainInfo .genre {
  padding-top: 4px;
  font-size: 11px;
  line-height: 1.2;
  color: #808080;
}
.productList .mainInfo .ratingStarArea {
  margin-top: 5px;
  margin-left: 10px;
}
.productList .mainInfo .ratingStarArea .blue a {
  color: #89c3eb;
}
.productList .mainInfo .ratingStarArea .green a {
  color: #89c997;
}
.productList .mainInfo .ratingStarArea .yellow a {
  color: #edb867;
}
.productList .mainInfo .ratingStarArea .red a {
  color: #f4b3c2;
}
.productList .mainInfo .ratingStarArea .purple a {
  color: #cab8d9;
}
.productList .mainInfo .ratingStarArea .orange a {
  color: #f6ae54;
}
