.productList {
  display: flex;
  flex-wrap: wrap;
}
.productList .mainInfo {
  margin: 10px 30px 30px 30px;
}
.productList .mainInfo.emphasis {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.productList .mainInfo .mainImage {
  padding-top: 10px;
  height: 135px;
  background-color: white;
  text-align: center;
}
.productList .mainInfo .mainImage img {
  width: 215;
  height: 215;
}
.productList .mainInfo .mainImage p {
  width: 215px;
  padding: 0px 10px 0px 10px;
}
.productList .mainInfo .iteminfo {
  background-color: #1976D2;
  color: white;
}
.productList .mainInfo .iteminfo p {
  width: 215px;
  padding: 0px 10px 0px 10px;
}
.productList .mainInfo .iteminfo .shopName {
  margin: 0;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}
.productList .mainInfo .iteminfo .productName {
  margin: 5px 0 0 0;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}
.productList .mainInfo .iteminfo .price {
  margin: 6px 0 0 0;
  font-size: 15px;
  line-height: 1.1;
}
.productList .mainInfo .iteminfo .tax {
  font-size: 10px;
  margin: 0 0 0 2px;
  white-space: nowrap;
  vertical-align: 1px;
}
.productList .mainInfo .iteminfo .genre {
  padding-top: 4px;
  font-size: 11px;
  line-height: 1.2;
}
.productList .mainInfo .iteminfo .ratingStarArea {
  margin-top: 5px;
  margin-left: 10px;
}
