@font-face {
    font-family: 'hyperfont';
    src:    url('fonts/hyperfont.eot?ka8u08');
    src:    url('fonts/hyperfont.eot?ka8u08#iefix') format('embedded-opentype'),
        url('fonts/hyperfont.ttf?ka8u08') format('truetype'),
        url('fonts/hyperfont.woff?ka8u08') format('woff'),
        url('fonts/hyperfont.svg?ka8u08#hyperfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hyperfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-baseball-set:before {
    content: "\e903";
}
.ico-baseball-set2:before {
    content: "\e904";
}
.ico-beach_access:before {
    content: "\eb3e";
}
.ico-child_friendly:before {
    content: "\eb42";
}
.ico-directions_bike:before {
    content: "\e52f";
}
.ico-directions_car:before {
    content: "\e531";
}
.ico-restaurant_menu:before {
    content: "\e561";
}
.ico-motorcycle:before {
    content: "\e91b";
}
.ico-pets:before {
    content: "\e91d";
}
.ico-wc:before {
    content: "\e63d";
}
.ico-aircraft:before {
    content: "\e900";
}
.ico-briefcase:before {
    content: "\e901";
}
.ico-game-controller:before {
    content: "\e902";
}
.ico-headphones:before {
    content: "\e910";
}
.ico-music:before {
    content: "\e911";
}
.ico-play:before {
    content: "\e912";
}
.ico-book:before {
    content: "\e91f";
}
.ico-books:before {
    content: "\e920";
}
.ico-credit-card:before {
    content: "\e93f";
}
.ico-clock:before {
    content: "\e94e";
}
.ico-clock2:before {
    content: "\e94f";
}
.ico-calendar:before {
    content: "\e953";
}
.ico-display:before {
    content: "\e956";
}
.ico-tablet:before {
    content: "\e95a";
}
.ico-tv:before {
    content: "\e95b";
}
.ico-cog:before {
    content: "\e994";
}
.ico-hammer:before {
    content: "\e996";
}
.ico-glass:before {
    content: "\e9a0";
}
.ico-mug:before {
    content: "\e9a2";
}
.ico-spoon-knife:before {
    content: "\e9a3";
}
.ico-truck:before {
    content: "\e9b0";
}
.ico-star-empty:before {
    content: "\e9d7";
}
.ico-star-half:before {
    content: "\e9d8";
}
.ico-star-full:before {
    content: "\e9d9";
}
.ico-heart:before {
    content: "\e9da";
}
.ico-man-woman:before {
    content: "\e9de";
}
.ico-checkmark:before {
    content: "\ea10";
}
.ico-checkmark2:before {
    content: "\ea11";
}
.ico-google-plus2:before {
    content: "\ea8c";
}
.ico-google-plus3:before {
    content: "\ea8d";
}
.ico-facebook:before {
    content: "\ea90";
}
.ico-facebook2:before {
    content: "\ea91";
}
.ico-twitter:before {
    content: "\ea96";
}
.ico-youtube2:before {
    content: "\ea9e";
}

