$hy-blue:#03c;
$hy-green:#1BC1A0;
$hy-red:#ff4d52;
$hy-gray:#666;
$hy-black:#222;
$hy-white:whitesmoke;
$hy-yellow:#F2C200;

$l-img-size:128px;
$s-img-size:64px;
$contents-size:1200px;
$panel-width:600px;
$panel-height:155px;

body{
	background-color: $hy-white;
	a{
		text-decoration: none;
	}
	a.blockLevelLink{
		display: block;
	}
	.wrapper{
		width: $contents-size;
		margin-left: auto;
		margin-right: auto;
	}
	.horizontalBox{
		display: flex;
	}
}


.searchArea{
	height: 50px;
	display: flex;
	margin-bottom: 10px;
	div{
		height: inherit;
    line-height: 46px;
	}
	.searchInput{
		width: 72.8%;
		input{
			height: 88%;
    	width: 99%;
		}

	}
	.searchBtn{
		width: 27.2%;
		background-color: $hy-gray;
		a{
			display: block;
			width: 100%;
			height: 100%;
			color: $hy-white;
			text-align: center;
			font-size: large;
			img{
				margin-top: 3px;
    		height: 48px;
    		margin-left: -42px;
			}
		}
		a:hover{
			background-color: $hy-black;
		}
	}
}

.pagerArea{
	background-image: url(../image/bg/bg_brown.jpg);
	height: 60px;
	display: flex;
	a{
		color: #3f312b;
	}
	.pageCountWrapper{
		
		height: 40px;
    margin-top: 10px;
		margin-right: auto;
		margin-left: 25px;
		.pageCount{
			margin-left: 20px;
			border: 2px solid #3f312b;
			height: 38px;
			width: 160px;
			display: table-cell;
    	text-align: center;
			vertical-align: middle;
		}
	}
	.pagenation{
		display: flex;
		justify-content: space-between;
		height: 40px;
    margin-top: 10px;
		margin-right: 25px;
		.prev{
			width: 27px;
			text-align: center;
			padding-top: 11px;
			border: 2px solid #3f312b;
			margin-right: 10px;
		}
		ol{
			display: flex;
			li.pageButton{
				min-width: 27px;
				text-align: center;
				padding-top: 11px;
				border: 2px solid #3f312b;
				margin-right: 10px;
			}
			li.ellipsis{
				text-align: center;
    		padding-top: 11px;
				margin-right: 10px;
			}
		}
		.next{
			width: 27px;
			text-align: center;
			padding-top: 11px;
			border: 2px solid #3f312b;
		}
	}
}

.loader-inner{
	opacity: 0.5;
	border-radius: 10px;
	margin: 0 auto;
	background-color: #666;
	width: 55px;
	height: 45px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	div{
		&:first-child{
			top: 15px;
			left: 20px;
		}
		&:last-child{
			top: 6px;
    	left: 11px;
		}
	}

}

footer{
	height: 200px;
}
