$hy-blue:#89c3eb;
$hy-green:#89c997;
$hy-red:#f4b3c2;
$hy-gray:#666;
$hy-black:#222;
$hy-white:whitesmoke;
$hy-yellow:#edb867;
$hy-orange:#ee7800;
$hy-purple:#cab8d9;
$hy-aitetu:#393f4c;

$panel-blue:#1976D2;

$panel-width:215px;
$panel-height:155px;

$l-img-size:128px;
$s-img-size:64px;

$facebook:#3B5998;
$twitter:#00aced;
$google:#db4a39;
$line:#5ae628;
$instagram:#3f729b;
	


body{
	background-color: #374046;
	a{
		text-decoration: none;
	}
	a.blockLevelLink{
		display: block;
	}
	.wrapper{
		width: 100%;
	}
	.horizontalBox{
		display: flex;
	}
}

header{
	display: flex;
	h1{
		width:30%;
		img{
			width:100%;
		}
	}
	.searchArea{
		height: 35px;
		display: flex;
		margin-top: 40px;
		width: 50%;
		margin-left: auto;
		div{
			height: 100%;
		}
		.searchInput{
			width: 90%;
			height: 35px;
			input{
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				height: 88%;
				width: 99%;
			}

		}
		.searchBtn{
			width: 5%;
			height: 37px;
			background-color: $hy-gray;
			line-height: 43px;
			a{
				display: block;
				width: 100%;
				height: 100%;
				color: $hy-white;
				text-align: center;
				font-size: large;
				img{
					margin-top: 3px;
					height: 48px;
					margin-left: -42px;
				}
			}
			a:hover{
				background-color: $hy-black;
			}
		}
	}
}

.mainContents{
	display: flex;

	/**
		* サイドメニュー
		*/
	.sideMenuArea{
		width: 24%;
		.genreArea{
			margin: 0px 20px;
			.genreTitle{
				padding-top: 10px;
				padding-left: 5px;
				padding-bottom: 5px;
				color: white;
				background-color: #455A64;
				border-bottom: 1px solid white;
			}
			.genreList{
					background-color: #333;
				li.parentsGenre{
					height: 35px;
					line-height: 35px;
					padding: 0px 15px;
					background-color: #455A64;
					>a{
						color: white;
						width: 100%;
						display: block;
						>i{
							font-size: larger;
							margin-right: 10px;
						}
					}
				}
				li.parentsGenre:hover{
					transform: translate(15px, -5px);
					-webkit-transform: translate(15px, -5px);  
					-moz-transform: translate(15px, -5px);  
					-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
					-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
					box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
				}
				li.parentsGenre.selected{
					transform: translate(15px, -5px);
					-webkit-transform: translate(15px, -5px);  
					-moz-transform: translate(15px, -5px);  
					-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
					-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
					box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
				}
			}
		}
		.genreArea_2{
			margin: 0px 20px 20px;
			background: #455A64;
			.genreTitle{
				padding-top: 10px;
				padding-left: 5px;
				color: white;
				text-align: center;
			}
			.genreList{
				margin-top: 5px;
				padding: 0px 15px 20px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				li.parentsGenre{
					width: 43%;
					background-color: #03A9F4;
					margin-top: 5px;
					margin-right: 5px;
					&.ebook{
						background-color: #03A9F4;
					}
					&.fashion{
						background-color: #388E3C;
					}
					&.electronics{
						background-color: #7B1FA2;
					}
					&.food{
						background-color: #D32F2F;
					}
					&.interior{
						background-color: #FBC02D;
					}
					&.sport{
						background-color: #00BCD4;
					}
					&.health{
						background-color: #009688;
					}
					&.kids{
						background-color: #C2185B;
					}
					&.pet{
						background-color: #CDDC39;
					}
					&.game{
						background-color: #F57C00;
					}
					&.car{
						background-color: #673AB7;
					}
					&.config{
						background-color: #9E9E9E;
					}
					>a{
						font-size: 80px;
						color: white;
						text-align: center;
						line-height: normal;
						display: block;
					}
				}
			}
		}
		.snsArea{
			margin: 20px 20px;
			.snsButtonList{
				background-color: #455A64;
				display: flex;
				justify-content: center;
				>li{
					margin: 10px;
					&.facebookButton{
						background-color: $facebook;
					}
					&.twitterButton{
						background-color: $twitter;
					}
					&.googleButton{
						background-color: $google;
					}
					>a{
						color: white;
						display: block;
						margin: 10px;
						font-size: 45px;
						line-height: 45px;
					}
				}
			}
		}
	}

	/**
		* 商品リスト
		*/
	.productListArea{
		background: whitesmoke;
		width: 76%;
		margin-left: auto;
		.genreNavi{
			margin-top: 10px;
    	margin-left: 10px;
		}
		.productList{
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 30px;
			margin-left: 30px;
			.productInfo{
				margin: 30px 30px 0px 0px;
				a.productLink{
					display: block;
				}
				a.productLink:hover{
					-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
					-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
					box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
					border-radius: 2px;
				}
				.mainImage{
					padding-top: 10px;
					height: 135px;
					background-color: white;
					text-align: center;
					img{
						width: 215;
						height: 215;
					}
					p{
					width: $panel-width;
					padding: 0px 10px 0px 10px;
					}
				}
				.iteminfo{
						background-color: #1976D2;
						color: white;
					p{
						width: $panel-width;
						padding: 0px 10px 0px 10px;
					}
					.shopName{
						margin: 0;
						line-height: 1.2;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
						font-size: 12px;
					}
					.productName{
						margin: 5px 0 0 0;
						line-height: 1.2;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
						font-size: 12px;
					}
					.price{
						margin: 6px 0 0 0;
						font-size: 15px;
						line-height: 1.1;
					}
					.tax{
						font-size: 10px;
						margin: 0 0 0 2px;
						white-space: nowrap;
						vertical-align: 1px;
					}
					.genre{
						padding-top: 4px;
						font-size: 11px;
						line-height: 1.2;
					}
					.ratingStarArea{
						margin-top: 5px;
						margin-left: 10px;
					}
				}
			}
		}

		/**
		*
		* ページング
		*
		*/
		.pagerArea{
			height: 60px;
			display: flex;
			width: 100%;
			margin-left: auto;
			background-color: whitesmoke;
			a{
				color: #3f312b;
				display: block;
			}
			.pageCountWrapper{

				height: 40px;
				margin-top: 10px;
				margin-right: auto;
				margin-left: 25px;
				.pageCount{
					margin-left: 20px;
					border: 2px solid #3f312b;
					height: 38px;
					width: 160px;
					display: table-cell;
					text-align: center;
					vertical-align: middle;
				}
			}
			.pagenation{
				display: flex;
				justify-content: space-between;
				height: 40px;
				margin-top: 10px;
				margin-right: 25px;
				.prev{
					width: 27px;
					text-align: center;
					padding-top: 11px;
					border: 2px solid #3f312b;
					margin-right: 10px;
				}
				ol{
					display: flex;
					li.pageButton{
						min-width: 27px;
						text-align: center;
						line-height: 36px;
						border: 2px solid #3f312b;
						margin-right: 10px;
						&.uiActive{
							a{
								color: white;
								background-color: #252525;
							}
						}
					}
					li.ellipsis{
						text-align: center;
						padding-top: 11px;
						margin-right: 10px;
					}
				}
				.next{
					width: 27px;
					text-align: center;
					padding-top: 11px;
					border: 2px solid #3f312b;
				}
			}
		}
	}
}


/**
	* ローダー
	*/
.loader-inner{
	opacity: 0.5;
	border-radius: 10px;
	margin: 0 auto;
	background-color: #666;
	width: 55px;
	height: 45px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	div{
		&:first-child{
			top: 15px;
			left: 20px;
		}
		&:last-child{
			top: 6px;
			left: 11px;
		}
	}

}

.hyperSelect{
	position: absolute;
	width: 80%;
	.triangleTop{
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom: 10px solid #252525;
		margin-left: auto;
		margin-right: 20px;
	}
	.triangleLeft{
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-right: 15px solid #252525;
		margin-left: -20px;
		margin-bottom: -25px;
	}
	.hyperSelectList{
		background-color: #252525;
		.option{
			text-align: center;
			line-height: 35px;
			border-bottom: 1px solid #666;
			>a{
				color: white;
				display: block
			}
			>a:hover{
				background-color: #666;
			}
		}
		.option:last-child{
			border-bottom: none;
		}
	}
}

footer{
	height: 200px;
}

@media screen and (min-width: 1024px){}

@media screen and (max-width: 1023px){}
	

@media screen and (max-width:640px){}

