$hy-blue:#89c3eb;
$hy-green:#89c997;
$hy-red:#f4b3c2;
$hy-gray:#666;
$hy-black:#222;
$hy-white:whitesmoke;
$hy-yellow:#edb867;
$hy-orange:#f6ae54;
$hy-purple:#cab8d9;

$panel-width:215px;
$panel-height:155px;

.productList{
	display: flex;
	flex-wrap: wrap;
	.mainInfo{
		margin: 10px 30px 30px 30px;
		&.emphasis{
			-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    	border-radius: 2px;
		}
		p{
			width: $panel-width;
			padding: 0px 10px 0px 10px;
		}
		.mainImage{
			padding-top: 10px;
			height: 135px;
			img{
				width: 215;
				height: 215;
			}
		}
		.shopName{
			margin: 0;
			line-height: 1.2;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			color: #808080;
			font-size: 12px;
		}
		.productName{
			margin: 5px 0 0 0;
			line-height: 1.2;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			color: #808080;
			font-size: 12px;
		}
		.price{
			margin: 6px 0 0 0;
			font-size: 15px;
			line-height: 1.1;
		}
		.tax{
			font-size: 10px;
			margin: 0 0 0 2px;
			white-space: nowrap;
			vertical-align: 1px;
			color: #808080;
		}
		.genre{
			padding-top: 4px;
			font-size: 11px;
			line-height: 1.2;
			color: #808080;
		}
		.ratingStarArea{
			margin-top: 5px;
			margin-left: 10px;
			.blue{
				a{
					color: $hy-blue;
				}
			}

			.green{
				a{
					color: $hy-green;
				}
			}

			.yellow{
				a{
					color: $hy-yellow;
				}
			}

			.red{
				a{
					color: $hy-red;
				}
			}
				
			.purple{
				a{
					color: $hy-purple;
				}
			}
				
			.orange{
				a{
					color: $hy-orange;
				}
			}
		}
	}
}

