<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/image/icon/hohi_icon.png}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/screen.css}"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/lib/fontawesome-stars.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/lib/loaders.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/font/hyperfont.css}"/>

<title>Hyper Shop</title>
</head>
<body>
	<div class="wrapper">
		<header>
			<h1><img th:src="@{/image/logo/main_logo_hoshi.png}" alt="HyperShop"/></h1>
			<div class="searchArea">
				<div class="searchInput">
					<input type="text" name="keyword" onkeypress="enterSearch(event.keyCode);" placeholder="キーワードで商品を検索する"/>
				</div>
				<div class="searchBtn">
					<a href="javascript:void(0);" id="productSearch"><i class="ico-search"></i></a>
				</div>
			</div>
		</header>
		<section class="mainContents">
			<div class="sideMenuArea">
				<div class="genreArea">
					<h3 class="genreTitle">ジャンル</h3>
					<ul class="genreList" id="genreList">
						<li class="parentsGenre" id="ebook">
							<a class="genre" href="javascript:void(0)"><i class="ico-tablet"></i><span>電子書籍</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="1">パターン1</option>
									<option value="2">パターン2</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="fashion">
							<a class="genre" href="javascript:void(0)"><i class="ico-man-woman"></i><span>ファッション</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="100371">レディース ファッション</option>
									<option value="551177">メンズ ファッション</option>
									<option value="216131">バッグ・小物・ブランド雑貨</option>
									<option value="558885">靴</option>
									<option value="558929">腕時計</option>
									<option value="216129">ジュエリー・アクセサリー</option>
									<option value="100433">インナー・下着・ナイトウエア</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="electronics">
							<a class="genre" href="javascript:void(0)"><i class="ico-tv"></i><span>家電・パソコン・通信</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="564500">スマートフォン・タブレット</option>
									<option value="100026">パソコン・周辺機器</option>
									<option value="562637">家電</option>
									<option value="211742">TV・オーディオ・カメラ</option>
									<option value="565004">光回線・モバイル通信</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="food">
							<a class="genre" href="javascript:void(0)"><i class="ico-spoon-knife"></i><span>食品・飲料・お酒</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="100227">食品</option>
									<option value="551167">スイーツ・お菓子</option>
									<option value="100317">ワイン</option>
									<option value="510915">ビール・洋酒</option>
									<option value="510901">日本酒・焼酎</option>
									<option value="100316">水・ソフトドリンク</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="interior">
							<a class="genre" href="javascript:void(0)"><i class="ico-mug"></i><span>インテリア・日用雑貨</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="100804">インテリア・寝具・収納</option>
									<option value="558944">キッチン用品・食器・調理器具</option>
									<option value="215783">日用品雑貨・文房具・手芸</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="sport">
							<a class="genre" href="javascript:void(0)"><i class="ico-baseball-set"></i><span>スポーツ・アウトドア</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="101070">スポーツ・アウトドア</option>
									<option value="101077">ゴルフ用品</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="health">
							<a class="genre" href="javascript:void(0)"><i class="ico-heart"></i><span>美容・健康</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="100939">美容・コスメ・香水</option>
									<option value="100938">ダイエット・健康</option>
									<option value="551169">医薬品・コンタクト・介護</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="kids">
							<a class="genre" href="javascript:void(0)"><i class="ico-child_friendly"></i><span>キッズ・ベビー・玩具</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="100533">キッズ・ベビー・マタニティ</option>
									<option value="101164">おもちゃ・ホビー</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="pet">
							<a class="genre" href="javascript:void(0)"><i class="ico-pets"></i><span>ペット・花・DIY</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="101213">ペットフード・ペット用品</option>
									<option value="100005">花・ガーデン・DIY</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="game">
							<a class="genre" href="javascript:void(0)"><i class="ico-game-controller"></i><span>本・音楽・ゲーム</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="200162">本・雑誌・コミック</option>
									<option value="101240">CD・DVD・楽器</option>
									<option value="101164">ゲーム</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="car">
							<a class="genre" href="javascript:void(0)"><i class="ico-directions_car"></i><span>車・バイク</span></a>
							<div class="configSelect" style="display:none">
								<select class="genreSelectList">
									<option value="503190">車用品・バイク用品</option>
									<option value="101114">車・バイク</option>
									<option value="101438">学び・サービス・保険</option>
								</select>
							</div>
						</li>
						<li class="parentsGenre" id="config">
							<a class="genre" href="javascript:void(0)"><i class="ico-cog"></i><span>設定</span></a>
							<div class="configSelect" style="display:none">
								<select class="configSelect">
									<option value="1">パターン1</option>
									<option value="2">パターン2</option>
								</select>
							</div>
						</li>
					</ul>
				</div>
				<div class="genreArea_2" style="display:none">
					<h3 class="genreTitle">ジャンル</h3>
					<ul class="genreList" id="genreList_2">
						<li id="101240" class="parentsGenre ebook"><a class="genre" href="javascript:void(0)"><i class="ico-tablet"></i></a></li>
						<li id="100804" class="parentsGenre fashion"><a class="genre" href="javascript:void(0)"><i class="ico-man-woman"></i></a></li>
						<li id="101164" class="parentsGenre electronics"><a class="genre" href="javascript:void(0)"><i class="ico-tv"></i></a></li>
						<li id="100533" class="parentsGenre food"><a class="genre" href="javascript:void(0)"><i class="ico-spoon-knife"></i></a></li>
						<li id="215783" class="parentsGenre interior"><a class="genre" href="javascript:void(0)"><i class="ico-mug"></i></a></li>
						<li id="216129" class="parentsGenre sport"><a class="genre" href="javascript:void(0)"><i class="ico-baseball-set"></i></a></li>
						<li id="101070" class="parentsGenre health"><a class="genre" href="javascript:void(0)"><i class="ico-heart"></i></a></li>
						<li id="100938" class="parentsGenre kids"><a class="genre" href="javascript:void(0)"><i class="ico-child_friendly"></i></a></li>
						<li id="100316" class="parentsGenre pet"><a class="genre" href="javascript:void(0)"><i class="ico-pets"></i></a></li>
						<li id="100026" class="parentsGenre game"><a class="genre" href="javascript:void(0)"><i class="ico-game-controller"></i></a></li>
						<li id="216131" class="parentsGenre car"><a class="genre" href="javascript:void(0)"><i class="ico-directions_car"></i></a></li>
						<li id="config2" class="parentsGenre config">
							<a class="genre" href="javascript:void(0)"><i class="ico-cog"></i></a>
							<div class="configSelect" style="display:none">
								<select class="custom-select">
									<option value="1">パターン1</option>
									<option value="2">パターン2</option>
								</select>
							</div>
						</li>
					</ul>
				</div>
				<div class="snsArea">
					<ul class="snsButtonList">
						<li class="facebookButton"><i class="ico-facebook"></i></li>
						<li class="twitterButton"><i class="ico-twitter"></i></li>
						<li class="googleButton"><i class="ico-google-plus"></i></li>
					</ul>
				</div>
			</div>
			<div class="productListArea" id="productListArea" style="display:none">
				<ul class="productList" th:remove="all">
					<li class="productInfo">
						<div class="mainInfo">
							<p class="mainImage"><a href="/coordinate/?cdid=7080534"><img class="" src="/a/a" alt="" width="215" height="215"/></a></p>
							<div class="iteminfo clearfix">
								<p class="shopName">aaaaa</p>
								<p class="productName"></p>
								<p class="price">¥637<span class="tax">税込</span></p>
								<p class="genre">ccccc</p>
								<div class="ratingStarArea">
									<select name="ratingStar">
									  <option value="3">3</option>
									  <option value="2">2</option>
									  <option value="3">3</option>
									  <option value="4">4</option>
									  <option value="5">5</option>
									</select>
								</div>
							</div>
						</div>
						<div class="moreitem" style="display: none; width: 390px;">
							<div class="container">
								<ul>
									<li>
										<a href="/?c=gr&amp;did=24468549" class="clearfix">
											<p class="thumbnail"><img src="aa/aa" alt="aa" width="33" height="40"/></p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
				<div id="pageValue">
					<input type="hidden" id="currentPage" value="1"/>
					<input type="hidden" id="count" value="0"/>
					<input type="hidden" id="pageCount" value="0"/>
				</div>
				<div class="pagerArea" style="display:none">
					<div class="pageCountWrapper">
						<p class="pageCount">page 1 of 100</p>
					</div>
					<div class="pagenation">
					<p class="prev uiDisable" id="prevButton"><a rel="prev" href="javascript:void(0)">＜</a></p>
						<ol class="pageButtonArea">
							<li class="pageButton"><a href="javascript:void(0)">1</a></li>
							<li class="pageButton"><a href="javascript:void(0)">2</a></li>
							<li class="pageButton"><a href="javascript:void(0)">3</a></li>
							<li class="ellipsis">…</li>
							<li class="pageButton"><a href="javascript:void(0)">10</a></li>
						</ol>
			    	<p class="next" id="nextButton"><a rel="next" href="javascript:void(0)">＞</a></p>
		    	</div>
				</div>
			</div>
		</section>
		<div class="hiddenValues">
			<input id="contextPath" type="hidden" th:value="@{/}"/>
			<input id="selectedGenreId" type="hidden" value=""/>
			<input id="selectedGenreName" type="hidden" value=""/>
			<input id="parentsGenreName" type="hidden" value=""/>
		</div>
		<div class="hyperSelect" th:remove="all">
			<div class="triangle"></div>
			<ul class="hyperSelectList">
				<li class="option"><a href='javascript:void(0);'>option1</a></li>
				<li class="option"><a href='javascript:void(0);'>option2</a></li>
			</ul>
		</div>
		<footer></footer>
		<div class="loader-inner ball-clip-rotate-pulse"></div>
	</div>
	<script type="text/javascript" th:src="@{/js/lib/jquery-2.2.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/lib/jquery.barrating.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/lib/loaders.css.js}"></script>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>