			<ul class="productList">
				<li class="productInfo" th:each="productInfo : ${itemList}" th:object="${productInfo.item}" th:attr="data-value=${productInfoStat.index}">
					<div class="mainInfo">
						<p class="mainImage">
							<a th:href="*{affiliateUrl}"><img th:src="*{mediumImageUrls[0].imageUrl}" th:alt="*{itemName}"/></a>
						</p>
						<div class="iteminfo clearfix">
							<p class="shopName" th:text="*{shopName}">shop1</p>
							<p class="productName" th:text="*{itemName}">item1</p>
							<p class="price">¥<span th:text="*{#numbers.formatInteger(itemPrice,1,'COMMA')}">1000</span><span class="tax" th:text="*{taxFlag == 0}?'税込':'税別'">税込</span></p>
							<p class="genre" th:text="*{genreId}">ベルト</p>
							<div class="ratingStarArea">
								<select name="ratingStar">
								  <option value="3" th:value="*{#numbers.formatInteger(reviewAverage,1,'POINT')}">3</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>
								  <option value="5">5</option>
								</select>
							</div>
						</div>
					</div>
					<div class="moreitem" style="display: none; width: 390px;">
						<div class="container">
							<ul>
								<li th:each="smallImage : *{smallImageUrls}">
									<a href="/?c=gr&amp;did=24468549" class="clearfix">
										<p class="thumbnail"><img th:src="${smallImage.imageUrl}" alt="" width="33" height="40"/></p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
