			<nav class="genreNavi">＞<span id="parentsGenreName" th:text="${parentsGenreName}"></span><span th:if="!${#strings.isEmpty(genreName)}">＞</span><span id="genreTitle" th:text="${genreName}">genre</span></nav>
			<ul class="productList" th:if="${itemList != null}">
				<li class="productInfo" th:each="productInfo : ${itemList}" th:object="${productInfo}" th:attr="data-value=${productInfoStat.index}" style="display:none">
					<a class="productLink" th:href="*{affiliateUrl}" target="_blank">
						<div class="mainInfo">
							<p class="mainImage">
								<img th:src="*{mediumImageUrls[0]}" th:alt="*{itemName}"/>
							</p>
							<div class="iteminfo clearfix">
								<p class="shopName" th:text="*{shopName}">shop1</p>
								<p class="productName" th:text="*{itemName}">item1</p>
								<p class="price">¥<span th:text="*{#numbers.formatInteger(itemPrice,1,'COMMA')}">1000</span><span class="tax" th:text="*{taxFlag}">税込</span></p>
<!-- 								<p class="genre" th:text="*{genreName}">ベルト</p> -->
								<div class="ratingStarArea">
									<select name="ratingStar">
									  <option value="3" th:value="*{#numbers.formatInteger(reviewAverage,1,'POINT')}">3</option>
									  <option value="2">2</option>
									  <option value="3">3</option>
									  <option value="4">4</option>
									  <option value="5">5</option>
									</select>
								</div>
							</div>
						</div>
					</a>
					<div class="moreitem" style="display: none; width: 390px;">
						<div class="container">
							<ul>
								<li th:each="smallImage : *{smallImageUrls}">
									<a href="/?c=gr&amp;did=24468549" class="clearfix">
										<p class="thumbnail"><img th:src="${smallImage}" alt="" width="33" height="40"/></p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
			<div id="pageValue">
				<input type="hidden" id="currentPage" th:value="${currentPage}"/>
				<input type="hidden" id="count" th:value="${count}"/>
				<input type="hidden" id="pageCount" th:value="${pageCount}"/>
			</div>
			
